/*START: Override bootstrap styles*/
.previous > a, .next > a {
    float: none !important;
}

.pager {
    display: inline;
}

/* Override header anchor styles*/
th a,th a:hover, th a:focus{
    text-decoration: none;
    color: #333;
}

.icon-step-first {
    background-position-x: -216px;
    background-position-y: -72px;
}

.icon-step-last {
    background-position-x: -346px;
    background-position-y: -68px;
}
/*END: Override bootstrap styles*/

/*START: Pagination styles*/
.pager-text, .pager-textbox {
    padding: 0 10px;
}

.pager-textbox {
    width: 30px;
}

.pager-dropdown {
    width: 80px;
}

/*END: Pagination styles*/
