.MAQPager a, .MAQPager span, .MAQPager p, .MAQPager img
{
    margin: 0;
	padding: 0;
	border: 0;
    font:normal 12px "Segoe UI";
    text-transform:uppercase;
}
.MAQPager span, .MAQPager p, .MAQPager select, .MAQPager input[type='text']
{
        color:#666;
}
span.MAQ-PG-PageNumbers 
{
	font-weight: bold;
}
.MAQPager a, .MAQPager span, .MAQPager input[type='text']
{
	margin: 0px 2px;
    padding:0px 2px;
}
.MAQPager img 
{
    vertical-align:middle;
    width:32px;
    height:32px;
}
.MAQPager input[type='text'], .MAQPager select
{
    font:normal 12px "Segoe UI";
    margin: 0;
	padding: 0;
    vertical-align: baseline;
}
.MAQPager input[type='text']
{
        width:15px;
}

.Pager1, .Pager2, .Pager3, .Pager4
{
    margin: 30px 0px;
}