body {
    font-family: 'Segoe UI';
}

.cursorPointer {
    cursor: pointer;
}

.simpleText {
    cursor: default;
    text-decoration: none;
}

.sort-asc {
    background-image: url('..\\img\\sort-asc.png');
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 20px;
}

.sort-desc {
    background-image: url('..\\img\\sort-desc.png');
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 20px;
}

h2 {
    font-family: 'Segoe UI';
    font-size: 20px;
    color: #505050;
}

.expanded {
    background-image: url('..\\img\\expand.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 25px 25px;
    padding-right: 20px;
    height: 40px;
}

.collapsed {
    background-image: url('..\\img\\collapse.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 25px 25px;
    padding-right: 20px;
    height: 40px;
}

.clearfix{
    clear: both;
}

.disabled-anchor, .disabled-anchor:hover, .disabled-anchor:visited, .disabled-anchor:focus {
    color: #333333;
    text-decoration: none;
    cursor: default;
    background-color: #e6e6e6 !important;
    box-shadow: none;
    opacity: 0.65;
}